PORT=8080
DB_USER=nombre_usuario
DB_PASSWORD=tu_password_aqui
DB_NAME=me_transfer_db
POSTGRES_URL=postgres://user:pass@localhost:5432/dbname
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_KEY=tu-anon-key